<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
  <%= link_to categories_path, class:"flex items-center" do %>
      <img src="https://image.shutterstock.com/image-photo/saving-money-hippo-bank-conceptbusiness-600w-593646404.jpg" 
      class="mr-3 h-6 sm:h-9 rounded-full" alt="Flowbite Logo" />
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Budget Hippo</span>
    <% end  %>
  <div class="flex items-center">
  <% if user_signed_in? %>
  <ul class="flex flex-row navbar-nav me-auto pt-0">
    <li class="nav-item mr-5">
    <h6 class= "text-white">Welcome,  <%= current_user.name %></h6>
  </li>
  <li class="nav-item">
    <%= link_to 'Sign Out', destroy_user_session_path , method: :delete, class: "text-sm font-semibold whitespace-nowrap dark:text-white" %>
  </li>
  <% else %>
        <ul class="flex flex-row navbar-nav ml-auto">
        <li class="nav-item mr-4">
          <%= link_to 'Sign Up', new_user_registration_path , class: "text-sm font-semibold whitespace-nowrap dark:text-white" %>
        </li>
        <li class="nav-item mr-4">
          <%= link_to 'Sign In', new_user_session_path , class: "text-sm font-semibold whitespace-nowrap dark:text-white" %>
        </li>
      </ul>
  <% end %>
</ul>
      </div>
  </div>
</nav>

