<div class="p-4 w-xl bg-white border shadow-lg sm:p-8 dark:bg-gray-800 dark:border-gray-700">
<div class="flex justify-between items-center mb-10">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">All Expense Categories</h5>
    <%= link_to "Back", categories_path, class:"bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded-full" %>
</div>
<% if @categories.empty? %>
    <p class="text-xl font-bold leading-none text-gray-900 dark:text-white mb-5">Hello! No categories found. Please add one</p>
    <%= link_to "Add Category", new_category_path, 
    class:"md:w-full bg-blue-900 cursor-pointer text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 border-blue-500 hover:border-blue-100 rounded-full" %>
<div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700 mb-5">
    <% else %>
      <% @categories.each_with_index  do |c, index| %>
        <%= link_to category_path(c.id), style:"text-decoration: none; color: black" do %>
        <%= render 'category_list', :category => c %>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                    <% if  !@total_expenses.empty? %>
                    $<%= @total_expenses[index] %>
                    <% else %>
                    0
                    <% end %>
                    </div>
                </div>
            </li>
        <% end %>
      <% end %>
      <li class="py-5 w-full">
          <div class="flex items-center space-x-4 w-full">
          <%= link_to "Add Category", new_category_path, 
      class:"text-center w-full bg-blue-900 cursor-pointer text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 border-blue-500 hover:border-blue-100 rounded-full ml-30" %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
