<%= form_with model: @expense, url: category_expenses_path do |f| %>  
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
  <div class="-mx-3 md:flex mb-6">
  <div class="md:w-full px-3">
  <%= f.label :name, "Transaction*", 
  class:"uppercase tracking-wide text-black text-xs font-bold mb-2" %>
    <%= f.text_field :name,
    class:"w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3", id:"application-link",
     placeholder:"Please enter category eg. lunch" %>
  </div>
  </div>
    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-full px-3">
      <%= f.label :amount, "Amount*", 
        class:"uppercase tracking-wide text-black text-xs font-bold mb-2" %>
      <%= f.number_field  :amount,
        class:"w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3", id:"application-link",
        placeholder:"Enter amount in $" %>
      <div>
        <span class="text-red-500 text-xs italic">
          Please fill out this field.
        </span>
      </div>
      </div>
    </div>
    <%= render 'add_new_category_item' %>
    <div class="-mx-3 md:flex mt-2">
      <div class="md:w-full px-3">
      <%= f.submit "Add Category", 
      class:"md:w-full bg-gray-900 cursor-pointer text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 border-gray-500 hover:border-gray-100 rounded-full" %>
      </div>
    </div>
  </div>
  <% end %>